/* tony's custom styles for mattermost */

.post {
    padding: 0px 10px 0 !important;
}
/* comment out this section if you choose to use the alternative behavior below */

.post-header-post {
    display: none;
}
/* post:hover { padding-bottom: 28px !important; } removed this since it makes things jiggle */

.post:hover .post-header-post {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0;
    padding: 0px 10px;
    font-size: 11px;
}
/*	alternate styles to use if you only want to hide usernames/timestamps for repeated posts from the same user */
/*
.same--user .post-header-post {
    display: none;
}
 .same--user.post:hover { padding-bottom: 28px !important; }
.same--user.post:hover .post-header-post {
   display: block;
    position: absolute;
    bottom: 0px;
    right: 0;
    padding: 0px 10px;
    font-size: 11px;
}
*/
/* other subjective style tweaks */

.post a.dropdown-toggle {
    display: block;
    z-index: 99999;
    position: relative;
}
.post .post-body {
    margin: 1px 0 0;
}
.post p {
    margin: 0 0 1px 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    color: #333;
}
.post>div.post-profile-img__container .post-profile-img {
    border-radius: 0;
}
.bot-indicator {
    color: #333;
}
