/* tony's custom styles for mattermost */

.post {
	padding: 0px 10px 0 !important;
}
.post-header-post {
	display: none;
}
.post:hover .post-header-post {
	display: block;
	position: absolute;
	top: -20px;
	right: 0;
	padding: 2px 10px;
	margin-top: -3px;
	/* so the edit/reply menu doesn't close on us */
	border: 1px solid #a8a8a8;
	background: rgba(0,0,0,0.5);
}
.post .post-body {
	/* line-height: 1.1em; */

	margin: 1px 0 0;
}
.post p {
	margin: 0 0 1px 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	color: #333;
}
.post>div.post-profile-img__container .post-profile-img {
	border-radius: 0;
}
